* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightseagreen;
}

.banner {
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.container {
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    .box {
        width: 50px;
        height: 50px;
        border: 0.5px solid black;
        /* background-color:lightblue; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.skyblue {
    background-color: skyblue;
}

.box-xl {
    width: calc(500px / 9);
    height: calc(500px / 9);
    border: 0.5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-xxl {
    width: calc(500px / 7);
    height: calc(500px / 7);
    border: 0.5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    background-color: lightseagreen;
    color: white;
    padding: 0.5rem;
    border-style: none;
    border-radius: 1rem;
}

select{
    background-color: lightgreen;
    color: white;
    padding: 0.5rem;
    border-style: none;
    border-radius: 1rem;
    outline: none;
}